spring:
  profiles:
    active: mysql
  datasource:
    url: jdbc:h2:mem:campsys;DB_CLOSE_DELAY=-1;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
server:
  port: 8081
app:
  jwt:
    secret: 0b2bbfa0df2a4cfe8fd0c2a66a69a7a1
    issuer: campus-sys
    expireMinutes: 120